/* Write your code here. */
.bg-container {
  display: flex;
  justify-content: center;
}
.photography-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 34px;
  margin-bottom: 34px;
  max-width: 1140px;
}
.selected-image {
  border-radius: 12px;
}
.heading {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #1e293b;
}
.description {
  color: #64748b;
  font-size: 15px;

  font-family: 'Roboto';
}
.thumbnail-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
}
